body{
    font-family: 'Inconsolata', monospace;
    margin: auto;
    width: 98%;
    padding: 10px;
    background:rgba(255,255,255,0.9);
}

.todo a{
    color: dimgray !important;
    font-style:italic;
    cursor: default;
}
.form-group-lg >.form-control{
    margin-bottom: 10px;
}

.form-group{
    margin-bottom:0px;
}

.form-control{
    background:transparent;
    border-bottom: 1px solid black !important;
    border: none;
}
.form-control:focus{
    border-bottom: 1px solid lightgray !important;
}
select, input, textarea, button {
    contour:none !important;
    box-shadow:none !important;
}

.well{
    background-color:transparent;
}

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

#SQL-select{
    /*display:none;*/
}